<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.achievement_management}">Quản lý thành tích/kỷ luật</title>
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
</head>
<body>

<!-- Header -->
<header th:replace="fragments/header :: header"></header>

<!-- Navbar -->
<nav th:replace="fragments/navbar :: navbar"></nav>

<!-- Main content -->
<div class="container">
    <h1 th:text="#{title.achievement_management}">Quản lý thành tích/kỷ luật</h1>

    <table class="common-table">
        <thead>
        <tr>
            <th th:text="#{label.id}">Mã</th>
            <th th:text="#{label.employee_name}">Tên nhân viên</th>
            <th th:text="#{label.type}">Loại</th>
            <th th:text="#{label.reason}">Lý do ghi nhận</th>
            <th th:text="#{label.date_recorded}">Ngày ghi nhận</th>
            <th th:text="#{label.action}">Tác vụ</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="achievement : ${achievements}">
            <td th:text="${achievement.id}"></td>
            <td th:text="${achievement.employee.fullName}"></td>
            <td>
                <span th:if="${achievement.type == 1}" th:text="#{label.achievement}">Thành tích</span>
                <span th:if="${achievement.type == 0}" th:text="#{label.discipline}">Kỷ luật</span>
            </td>
            <td th:text="${achievement.reason}"></td>
            <td th:text="${achievement.dateRecorded}"></td>
            <td style="text-align: center;">
                <form th:action="@{/admin/achievements/edit/{id}(id=${achievement.id})}" method="get" style="display:inline;">
                    <button type="submit" th:text="#{button.update}">Sửa</button>
                </form> |
                <form th:action="@{/admin/achievements/delete/{id}(id=${achievement.id})}" method="post" style="display:inline;">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" onclick="return confirm('Bạn có chắc chắn muốn xóa thành tích/kỷ luật này này?')" th:text="#{button.delete}">Xóa</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:replace="fragments/pagination :: simple-pagination(baseUrl='/admin/achievements', totalPages=${totalPages}, currentPage=${currentPage})"></div>

    <div class="create-button-container">
        <a href="/admin/achievements/new" class="create-button" th:text="#{button.create}">Tạo mới</a>
    </div>
</div>

<!-- Footer -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
