<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABC Group</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo">
            <img src="@{static/images/logo.png}" alt="Logo">
            <span class="company-name">ABC Group</span>
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="#">What we do</a></li>
                <li><a href="#">Who we are</a></li>
                <li><a href="#">Industries</a></li>
            </ul>
        </nav>
        <div class="connect-button">
            <a href="#">LET'S CONNECT</a>
        </div>
    </div>
</header>
</body>
</html>

