<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<nav th:fragment="navbar" class="navbar">
  <ul>
    <li><a th:href="@{/admin/home}" th:text="#{navbar.home}">Trang chủ</a></li>
    <li><a th:href="@{/admin/departments}" th:text="#{navbar.departments}">Quản lý phòng ban</a></li>
    <li><a th:href="@{/admin/employees}" th:text="#{navbar.employees}">Quản lý nhân viên</a></li>
    <li><a th:href="@{/admin/accounts}" th:text="#{navbar.accounts}">Quản lý tài khoản</a></li>

    <!-- Menu con cho quản lý thành tích -->
    <li class="dropdown">
      <span th:text="#{navbar.achievements}">Quản lý thành tích</span>
      <div class="sub-menu">
        <a th:href="@{/admin/achievements}" th:text="#{navbar.achievementList}">Danh sách thành tích/kỷ luật</a>
        <a th:href="@{/admin/achievements/employee}" th:text="#{navbar.personalAchievements}">Tổng hợp thành tích cá nhân</a>
        <a th:href="@{/admin/achievements/department}" th:text="#{navbar.departmentAchievements}">Tổng hợp thành tích của phòng</a>
      </div>
    </li>

    <li><a th:href="@{/search}">Suggest</a></li>


    <li><a th:href="@{/logout}" methods="post" th:text="#{navbar.logout}">Đăng xuất</a></li>
  </ul>
</nav>
</body>
</html>
