<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
<nav th:fragment="navbar" class="navbar">
  <ul>
    <li>Trang chủ</li>
    <li><a th:href="@{/departments}">Quản lý phòng ban</a></li>
    <li><a th:href="@{/employees}"> Quản lý nhân viên</a></li>

    <!-- Menu con cho quản lý thành tích -->
    <li class="dropdown">
      <span><a th:ref="@{/achievements}"> Quản lý thành tích/kỷ luật</a></span>
      <ul class="sub-menu">
        <li>Tạo mới thành tích/kỷ luật</a></li>
        <li>Tổng hợp thành tích cá nhân</li>
        <li>Tổng hợp thành tích của phòng</li>
      </ul>
    </li>

    <li><a th:href="@{/logout}" methods="post">Đăng xuất</a></li>
  </ul>
</nav>
</body>
</html>
