<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div>
    <h2 th:text="${employee == null ? 'Thêm Nhân viên' : 'Sửa Nhân viên'}"></h2>
    <form th:action="@{${employee == null ? '/employees' : '/employees/' + ${employee.id}}}" th:object="${employee}" method="post">
        <div>
            <label for="fullName">Họ và Tên</label>
            <input type="text" id="fullName" th:field="*{fullName}" placeholder="Nhập họ và tên" required/>
        </div>
        <div>
            <label for="gender">Giới tính</label>
            <select id="gender" th:field="*{gender}">
                <option value="Male">Nam</option>
                <option value="Female">Nữ</option>
            </select>
        </div>
        <div>
            <label for="department">Phòng ban</label>
            <select id="department" th:field="*{department.id}">
                <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.departmentName}"></option>
            </select>
        </div>
        <div>
            <button type="submit">Lưu</button>
        </div>
    </form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
